<h1>items一覧表示ページ</h1>
<h2>直近1週間の投稿を取得、LGTM数の高い順に並び替え</h2>

<% @all_items.each do |i| %>
  <h3>タイトルだけ</h3>
    <%= i[0] %>
  <h3>いいねカウントだけ</h3>
    <%= i[1] %>
  <h3>日付だけ</h3>
    <%= i[2] %>
  <h3>投稿者名だけ</h3>
    <%= i[3] %>
      <%#= i.each do |youso| %>
    <%#= youso %>
  <%# end %>
  <h3>タグ</h3>
  <% i[4].each do |tag| %>
    <%= tag %>
  <% end %>
<% end %>





<h3>タグ：</h3>
<% @tag_names.each do |tag| %>
  <%= tag %>
<% end %>