<div class="container">
  <h1>Qiita記事 LGTM数週間ランキング</h1>
  <p>集計期間 : <%= (Date.today-7).strftime("%Y年%-m月%-d日") %>から<%= (Date.today-1).strftime("%Y年%-m月%-d日") %>まで</p>
    <div class="row justify-content-center", style="background-color:#eee;">
      <div class="col-md-6", style="background-color:white;">
        <% @all_items.each do |i| %>
          <h2><span class="lgtm"><%= i[2] %></span><%= link_to "#{i[0]}", "#{i[1]}" %></h2>

          <div class="item_text">
            <div style="text-align:right;">
              <% i[5].each do |tag| %>
                <button class="tag"><%= tag %></button>
              <% end %>
            </div>
            created_at : <%= i[3] %><br>
            name : <%= i[4] %>
          </div>
        <% end %>
      </div>
    </div>
    <%#= paginate @all_items %>
</div>