<div class="container">
  <p><b>集計期間 : <%= (Date.today-7).strftime("%Y年%-m月%-d日") %>から<%= (Date.today-1).strftime("%Y年%-m月%-d日") %>まで</b></p>
    <div class="row justify-content-center", style="background-color:#eee;">
      <div class="col-md-2", style="padding:20px;">
        <h5>過去のランキング</h5>
          <!--p>2022/2/2〜2022/2/8</！p>
          <p>2022/2/2〜2022/2/8</p>
          <p>2022/2/2〜2022/2/8</p>
          <p>2022/2/2〜2022/2/8</p>
          <p>2022/2/2〜2022/2/8</p>
          <p>2022/2/2〜2022/2/8</p>-->

        <%= form_with model: Item.new, url: items_path, method: :post, local:true do |f| %>
          <%= f.hidden_field :title, value: "タイトル" %>
          <%= f.submit "取得" %>
        <% end %>
      </div>



      <div class="col-md-10", style="background-color:white; border:1px solid #eee;">
        <% @all_items.each do |i| %>
          <h2><span class="lgtm"><%= i[2] %></span>
          <%= link_to "#{i[0]}", "#{i[1]}", target: :_blank, rel: "noopener noreferrer" %></h2>

          <div class="item_text">
            <div style="text-align:right;">
              <% i[5].each do |tag| %>
                <button type="button" class="btn-tag" disabled><%= tag %></button>
              <% end %>
            </div>
            created_at : <%= i[3].to_datetime.strftime("%Y年%-m月%-d日 %-H時%-M分%-S秒") %><br>
            name : <%= i[4] %> <span style="color: #666;"><%= "@#{i[6]}" %></span>
          </div>

        <% end %>
      </div>
    </div>

    <div class="row justify-content-center", style="background-color: #eee; padding-top:15px;">
      <div class="col-md-3 col-md-offset-3">
        <%= paginate @all_items, theme: 'bootstrap-5' %>
      </div>
    </div>
</div>