<h1>items一覧表示ページ</h1>
<h2>直近1週間の投稿を取得、LGTM数の高い順に並び替え</h2>

<h3>タイトル：</h3>
<%= @title %>

<h3>いいね数</h3>
<%= @lgtm %>

<h3>記事投稿日</h3>
<%= @created_at %>

<h3>タイトル：</h3>
<%= @title2 %>

<h3>いいね数</h3>
<%= @lgtm2 %>

<h3>記事投稿日</h3>
<%= @created_at2 %>

<h3>タイトル：</h3>
<%= @title3 %>

<h3>いいね数</h3>
<%= @lgtm3 %>

<h3>記事投稿日</h3>
<%= @created_at3 %>
