<!DOCTYPE html>
<html>
  <head>
    <title>QiitaRuby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Qiita記事 LGTM数週間ランキング</h1>
    </header>
    <%= yield %>

    <footer>©️Qiitarticle</footer>
  </body>
</html>
